HELP.md

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IDE
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.vscode/

# macOS
.DS_Store

# Logs
*.log
logs/

# Environment / Secrets
.env
.env.*
application-local.properties
application-local.yml
application-secret.properties
application-secret.yml
